NODE_ENV=development
NEST_DEBUG=true

PORT=3000
APP_NAME="Slush Dating"
APP_URL=http://localhost:${PORT}

JWT_SECRET_KEY='gEa1feKh9lFCLfGunKVIIbt3G7LTmu615VknxkAMY0LIV9Kqw3rhWczYLvFcZ3n'
JWT_EXPIRES_IN='5min'

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=random-key
DB_USERNAME=random-key
DB_PASSWORD=random-key

FIREBASE_SERVICE_ACCOUNT_KEY=firebase-service-account-key.json

GOOGLE_WEB_CLIENT_ID=random-key
GOOGLE_ANDROID_CLIENT_ID=random-key
GOOGLE_IOS_CLIENT_ID=random-key

FACEBOOK_APP_ID=random-key
FACEBOOK_SECRET=random-key

APPLE_CLIENTID=8C6JFA47H2
APPLE_CLIENT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjb20ubW9iaWxlLmFwcC52aXJ0dWFsc3BlZWRkYXRlIiwibmFtZSI6IlNsdXNoIERhdGluZyIsImlhdCI6MTY4NTQ2NTY0NywiZXhwIjoxOTkzMjk4MTAwLCJhdWQiOiJodHRwczovL2FwcGxlaWQuYXBwbGUuY29tIn0.PbsPiE6ZfnukFN9C42czTvKnALYqHekMrQR2tQNI93c
APPLE_TEAMID=3G79GWUFQZ
APPLE_KEYID=9U7V4744N8
APPLE_CALLBACK=https://api.slushdating.com/auth/apple/redirect
APPLE_KEYFILE_PATH =./secret_key/AuthKey_9U7V4744N8.p8

AWS_ACCESS_KEY_ID=random-key
AWS_SECRET_ACCESS_KEY=random-key
AWS_REGION=random-key
AWS_BUCKET=random-key

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=johndoe@example.com
MAIL_PASSWORD=random-key
MAIL_ENCRYPTION=tls
MAIL_FROM="'${APP_NAME}' <${MAIL_USERNAME}>"

MAILCHIMP_API_KEY=random-key
MAILCHIMP_CAMPAIGN_ID=random-key
MAILCHIMP_SERVER_PREFIX=random-key

AGORA_APP_ID=random-key
AGORA_APP_CERTIFICATE=random-key
