NODE_ENV=development

PORT=3000
APP_NAME="Virtual Speed Date"
APP_URL=http://localhost:${PORT}

JWT_SECRET_KEY='virtual-speed-date-app'
JWT_EXPIRES_IN='5min'

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=virtual_speed_date
DB_USERNAME=root
DB_PASSWORD=

FIREBASE_SERVICE_ACCOUNT_KEY=firebase-service-account-key.json

GOOGLE_WEB_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=

FACEBOOK_APP_ID=
FACEBOOK_SECRET=

APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=johndoe@example.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM="'${APP_NAME}' <${MAIL_USERNAME}>"

MAILCHIMP_API_KEY=
MAILCHIMP_CAMPAIGN_ID=
MAILCHIMP_SERVER_PREFIX=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
